@font-face {
	font-family: georgia;
	src: url("../../assets/fonts/georgia.ttf");
}

html {
	font-size: 10px;
    scroll-behavior: smooth;
    background-color: #0e0e0e;
    margin: auto;
}
body {
	margin: 0;
}
.noscroll {
	overflow: hidden;
}

@media (min-width: 1280px) {
	.main {
		max-width: 1280px;
		margin: auto;
	}
	.start {
		background-image: url("../../assets/images/start-screen-gradient-background.png");
		background-repeat: no-repeat;
		height: 908px;
	}
	.content {
		max-width: 1200px;
		margin: auto;
	}
	.logo h1 {
		padding-top: 60px;
	}
	.content ul {
		padding-top: 76px;
	}
	.burger {
		display: none;
	}
	nav {
		float: right;
	}
	nav li {
		padding-left: 35px;
	}
	.start article {
		float: left;
	}
	.start__txt {
		padding-top: 160px;
	}
	.start__txt h2 {
		font-size: 4.4rem;
		max-width: 310px;
		line-height: 160%;
	}
	.start__txt p {
		font-size: 1.5rem;
	}
	.start h1 {
		max-width: 310px;
	}
	.start p {
		max-width: 460px;
		line-height: 160%;
		padding-bottom: 41px;
	}
	.startpuppy {
		max-width: 698px;
	}
	.about {
		height: 588px;
	}
	.about__txt {
		float: right;
		padding-right: 175px;
		padding-top: 80px;
	}
	.about h3 {
		font-size: 3.5rem;
		max-width: 350px;
		line-height: 160%;
	}
	.about p {
		font-size: 1.5rem;
		max-width: 430px;
		line-height: 160%;
	}
	.about img {
		max-width: 300px;
		float: left;
		padding-left: 175px;
		padding-top: 80px;
	}
	.ourpets {
		height: 877px;
	}
	.ourpets__main div {
		margin: 0 40px;
	}
	.ourpets h3 {
		padding-top: 80px;
		padding-bottom: 60px;
		font-size: 3.5rem;
		max-width: 400px;
		line-height: 4.5rem;
		letter-spacing: 0.2rem;
	}
	.ourpets__320nav {
		display: none;
	}
	.ourpets__main {
		padding-bottom: 60px;
	}
	.helpus {
		height: 611px;
	}
	.helpus h3 {
		max-width: 308px;
		font-size: 3.2rem;
		padding-top: 80px;
		padding-bottom: 25px;
		letter-spacing: 0.3rem;
		line-height: 4.5rem;
	}
	.helpus figcaption {
		font-size: 2rem;
	}
	.helpus__box figure {
		padding: 30px;
	}

	.donations {
		height: 462px;
	}
	.donations__main {
		margin: auto;
		max-width: 915px;
		padding-top: 80px;
	}
	.donations__img {
		float: left;
	}
	.donations__payment {
		float: right;
		max-width: 380px;
	}
	.donations h3 {
		font-size: 3.5rem;
		max-width: 300px;
		letter-spacing: 0.2rem;
		line-height: 120%;
	}
	.donations h5 {
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
	}
	.donations h4 {
		margin: 0;
		font-size: 2rem;
		display: inline-block;
		letter-spacing: 0.1rem;
	}
	.donations p {
		padding-top: 5px;
		line-height: 150%;
		font-size: 1.2rem;
		margin: 12px 0 0 0;
	}
	.donations__payment div {
		display: block;
		background-color: #F1CDB3;
		border-radius: 10px;
		max-width: 349px;
		padding: 9px 0;
	}
	.donations__payment img {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 15px 0 15px;
	}
	.footer__back {
		background-image: url("../../assets/images/footer-gradient-background.png");
		background-repeat: no-repeat;
		height: 350px;
	}
	footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 351px;
	}
	footer .footer__img {
		align-self: flex-end;
	}
	.footer__column {
		max-width: 302px;
		display: inline-block;
	}
	.footer__column img {
		padding: 0 20px 0 0;
		vertical-align: middle;
	}
	.footer__back h3 {
		padding-top: 56px;
		font-size: 3.2rem;
		letter-spacing: 0.3rem;
		max-width: 275px;
		line-height: 140%;
	}
	.footer__back p {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		padding: 10px 0;
	}
	.modal__content {
		width: 900px;
		height: 500px;
	}
	.modal__content h3 {
		margin: 0;
		padding: 50px 0 10px 0;
	}
	.modal__content h4 {
		margin: 0;
	}
	.modal__content p {
		margin: 0;
		padding: 40px 0;
	}
	.modal__content ul {
		margin: 0;
	}
	.modal__content li {
		padding: 5px 0;
	}
	.modal__content img {
		width: 500px;
		display: inline-block;
		padding-right: 29px;
	}
	.modal__content article {
		width: 351px;
		display: inline-block;
	}
}

@media (min-width: 768px) and (max-width: 1279px) {
	.main {
		max-width: 100%;
		margin: auto;
		}
	.start {
		background-image: linear-gradient(to right, #5B483A99, #26242500);
		height: 1165px;
	}
	.content {
		max-width: 708px;
		margin: auto;
	}
	.logo h1 {
		padding-top: 30px;
	}
	.content ul {
		padding-top: 46px;
	}
	.burger {
		display: none;
	}
	nav {
		float: right;
	}
	nav li {
		padding-left: 35px;
	}
	nav ul {
		padding-left: 0;
	}
	.start__txt {
		padding-top: 60px;
	}
	.start__txt h2 {
		font-size: 4.4rem;
		max-width: 310px;
		padding-left: 115px;
		line-height: 160%;
	}
	.start__txt p {
		padding-left: 115px;
		font-size: 1.5rem;
		line-height: 160%;
		padding-bottom: 40px;
	}
	.start__txt a {
		display: block;
		margin: auto;
		max-width: 135px;
		text-align: center;
	}
	.startpuppy {
		padding-top: 74px;
		max-width: 569px;
	}
	.about {
		height: 1048px;
	}
	.about__txt {
		display: block;
		margin: auto;
		max-width: 430px;
		padding-top: 80px;
	}
	.about h3 {
		font-size: 3.5rem;
		max-width: 370px;
	}
	.about p {
		font-size: 1.5rem;
		max-width: 430px;
		line-height: 160%;
	}
	.about img {
		display: block;
		margin: auto;
		max-width: 300px;
		padding-top: 80px;
	}
	.ourpets {
		height: 877px;
	}
	.ourpets__main div {
		margin: 0 10px;
	}
	.ourpets h3 {
		padding-top: 80px;
		padding-bottom: 60px;
		font-size: 3.5rem;
		max-width: 400px;
		line-height: 4.5rem;
		letter-spacing: 0.2rem;
	}
	.ourpets__320nav {
		display: none;
	}
	.ourpets__main {
		padding-bottom: 60px;
	}
	.ourpets__main768 {
		display: none !important;
	}

	.helpus {
		height: 779px;
	}
	.helpus h3 {
		max-width: 350px;
		font-size: 3.2rem;
		padding-top: 80px;
		padding-bottom: 55px;
		letter-spacing: 0.3rem;
		line-height: 4.5rem;
	}
	.helpus figcaption {
		font-size: 1.5rem;
	}
	.helpus__box figure {
		padding: 30px;
	}
	.start h1 {
		max-width: 310px;
	}
	.start p {
		max-width: 460px;
	}
	.donations {
		height: 783px;
	}
	.donations__payment {
		display: block;
		margin: auto;
		max-width: 380px;
	}	
	.donations__img img {
		padding-top: 60px;
		display: block;
		margin: auto;
	}
	.donations h3 {
		padding-top: 80px;
		font-size: 3.5rem;
		max-width: 300px;
		letter-spacing: 0.2rem;
		line-height: 120%;
	}
	.donations h5 {
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
	}
	.donations h4 {
		margin: 0;
		font-size: 2rem;
		display: inline-block;
		letter-spacing: 0.1rem;
	}
	.donations p {
		padding-top: 5px;
		line-height: 150%;
		font-size: 1.2rem;
	}
	.donations__payment div {
		display: block;
		background-color: #F1CDB3;
		border-radius: 10px;
		max-width: 349px;
		padding: 9px 0;
	}
	.donations__payment img {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 15px 0 15px;
	}
	.footer__back {
		background-image: linear-gradient(to right, #5B483A99, #26242500);
		height: 639px;
	}
	footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 310px;
		flex-wrap: wrap;
	}
	.footer__column {
		max-width: 302px;
		display: inline-block;
	}
	.footer__column img {
		padding: 0 20px 0 0;
		vertical-align: middle;
	}
	.footer__img {
		flex: 1;
	}
	.footer__img img {
		display: block;
		margin: auto;
	}
	.footer__back h3 {
		padding-top: 53px;
		font-size: 3.2rem;
		letter-spacing: 0.3rem;
		max-width: 275px;
		line-height: 140%;
	}
	.footer__back p {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		padding: 10px 0;
	}
	.modal__content {
		width: 630px;
		height: 350px;
	}
	.modal__content h3 {
		margin: 0;
		padding: 10px 0 10px 0;
	}
	.modal__content h4 {
		margin: 0;
	}
	.modal__content p {
		margin: 0;
		padding: 20px 0;
	}
	.modal__content ul {
		margin: 0;
	}
	.modal__content li {
		padding: 2px 0;
	}
	.modal__content img {
		width: 350px;
		display: inline-block;
		padding-right: 11px;
	}
	.modal__content article {
		width: 260px;
		display: inline-block;
	}
}

@media (max-width: 767px) {
	.main {
		max-width: 100%;
		margin: auto;
	}
	.start {
		background-image: linear-gradient(to right, #5B483A99, #26242500);
		height: 823px;
	}
	.content {
		max-width: 300px;
		margin: auto;
	}
	.logo {
		z-index: 200;
	}
	.burger {
		z-index: 200;
		float: right;
		display: block;
		width: 30px;
		height: 22px;
		padding: 44px 35px 0 0;
	}
	.burger span {
		display: block;
		height: 2px;
		background-color: #F1CDB3;
		margin: 8px 0;
	}
	.burger_vis {
		visibility: hidden;
	}
	.burger__rotation {
		transform: rotate(90deg);
		top: 44px;
		transition: 0.1s;
	}
	.start__txt__pad {
		padding-top: 38px;
	}
	.burger__menu {
		display: block;
		position: fixed;
		right: -100%;
		top: 0;
		background-color: rgba(41, 41, 41, 1);
		width: 320px;
		height: 100%;
		transition: 0.3s;
	}
	.burger__menu ul {
		padding-top: 150px;
		padding-left: 0;
	}
	.burger__menu li {
		display: block;
		text-align: center;
		font-size: 3.2rem;
		margin: 50px 0;
	}
	.logo h1 {
		padding-top: 30px;
	}
	.start h1 {
		max-width: 300px;
	}
	.start p {
		max-width: 300px;
	}
	.start__txt {
		text-align: center;
	}
	.start__txt h2 {
		display: inline-block;
		font-size: 2.6rem;
		max-width: 240px;
		line-height: 160%;
		padding: 40px 0 30px 0;
	}
	.start__txt p {
		font-size: 1.5rem;
		line-height: 160%;
		padding-bottom: 57px;
	}
	.startpuppy {
		max-width: 260px;
		padding-top: 92px;
	}
	.about {
		height: 974px;
	}

	.about__txt {
		display: block;
		margin: auto;
		max-width: 430px;
		padding-top: 42px;
		padding-bottom: 42px;
	}
	.about h3 {
		font-size: 3.25rem;
		max-width: 250px;
		text-align: center;
	}
	.about p {
		font-size: 1.5rem;
		max-width: 270px;
		text-align: justify;
		line-height: 160%;
	}
	.about img {
		display: block;
		margin: auto;
		max-width: 260px;
	}
	.ourpets {
		height: 791px;
	}
	.ourpets h3 {
		padding-top: 42px;
		padding-bottom: 42px;
		font-size: 2.5rem;
		max-width: 300px;
		line-height: 4.5rem;
		letter-spacing: 0.06rem;
	}
	.ourpets__main {
		padding-bottom: 20px;
	}
	.ourpets__main768 {
		display: none !important;
	}
	.ourpets__main320 {
		display: none !important;
	}
	.ourpets__320nav {
		text-align: center;
		padding-bottom: 42px;
	}

	.helpus {
		height: 745px;
	}
	.helpus h3 {
		max-width: 220px;
		font-size: 2rem;
		padding-top: 42px;
		letter-spacing: 0.3rem;
		line-height: 3.5rem;
		padding-bottom: 40px;
	}
	.helpus__box figcaption{
		font-size: 1rem;
	}
	.helpus__box figure {
		padding: 0px;
		max-height: 555px;
		flex-shrink: 2;
		max-width: 130px;
		max-height: 87px;
	}
	.donations {
		height: 542.2px;
	}
	.donations__payment {
		margin: auto;
		max-width: 280px;
	}
	.donations__img img {
		display: block;
		margin: auto;
		max-width: 260px;
		padding-top: 42px;
	}
	.donations__payment h3 {
		padding-top: 42px;
		font-size: 2.5rem;
		max-width: 230px;
		letter-spacing: 0.2rem;
		line-height: 120%;
		text-align: center;
		display: block;
		margin: auto !important;
	}
	.donations h5 {
		font-size: 1.5rem;
	}
	.donations h4 {
		margin: 0;
		font-size: 1.5rem;
		display: inline-block;
		letter-spacing: 0.1rem;
		text-align: center;
	}
	.donations p {
		padding-top: 5px;
		line-height: 150%;
		font-size: 1.2rem;
		text-align: justify;
	}
	.donations__payment div {
		display: block;
		background-color: #F1CDB3;
		border-radius: 10px;
		max-width: 349px;
		padding: 9px 0;
	}
	.donations__payment img {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 15px 0 15px;
	}
	.footer__back {
		background-image: linear-gradient(to right, #5B483A99, #26242500);
		height: 809px;
	}
	.footer__column {
		max-width: 302px;
		display: block;
		margin: auto;
		padding-top: 28px;
	}
	.footer__column img {
		padding: 0 20px 0 0;
		vertical-align: middle;
	}
	.footer__img {
		display: block;
		margin: auto;
	}
	.footer__img img {
		width: 260px;
	}
	.footer__back h3 {
		font-size: 2.5rem;
		letter-spacing: 0.3rem;
		text-align: center;
		max-width: 275px;
		line-height: 140%;
	}
	.footer__back p {
		font-size: 2rem;
		padding: 10px 0;
		text-align: center;
	}
	.modal__content {
		width: 240px;
		height: 360px;
	}
	.modal__content img {
		display: none;
	}
	.modal__content article {
		margin: auto;
		width: 220px;
	}
	.modal__content h3, h4 {
		text-align: center;
	}
	.modal__content h3 {
		margin: 0;
		padding: 10px 0 10px 0;
	}
	.modal__content h4 {
		margin: 0;
	}
	.modal__content p {
		margin: 0;
		padding: 15px 0;
	}
	.modal__content p {
		text-align: justify;
	}
	.modal__content ul {
		margin: 0;
	}
}

header {
	clear: both;
}

.content {
	clear: both;
}

.logo {
	float: left;
}
.logo a {
	text-decoration: none;
}
.logo h1 {
	margin: 0;
	color: #F1CDB3;
	font-family: georgia, 'Times New Roman', Times, serif;
	font-size: 3.2rem;
	letter-spacing: 0.2rem;
}
.logo p {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.18rem;
}

nav ul{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
nav li {
	display: inline-block;
	font-size: 1.5rem;
}
nav a{
	text-decoration: none;
	color: #CDCDCD;
	padding-bottom: 2px;
}
nav .active, a:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.start article {
	clear: both;
}
.start__txt h2 {
	margin: 0;
	color: #FFFFFF;
	font-family: georgia, 'Times New Roman', Times, serif;
}
.start__txt p {
	color: #CDCDCD;
	font-family: Arial, Helvetica, sans-serif;
}

.mainbutton {
	padding: 16px 46px;
	color: #292929;
    background-color: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    text-decoration: none;
    font-family: georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.startpuppy {
	float: right;
}

.about {
	background-color: #FFFFFF;
}
.about h3 {
	font-family: georgia, 'Times New Roman', Times, serif;
	color: #545454;
	margin: 0;
}
.about p {
	font-family: Arial, Helvetica, sans-serif;
	color: #4C4C4C;
}

.ourpets {
	background-color: #F6F6F6;
}
.ourpets h3 {
	margin: auto;
	font-family: georgia, 'Times New Roman', Times, serif;
	color: #545454;
	text-align: center;
}
.ourpets__main {
	margin: auto;
	text-align: center;
}
.ourpets__main div {
	display: inline-block;
	vertical-align: middle;
	background-color: #FAFAFA;
}
.ourpets__main p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    letter-spacing: 0.1rem;
    font-size: 2.1rem;
    padding: 7px;
}
.leftbut {
    background-image: url(../../assets/icons/arrow-l.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F6F6F6;
    padding: 25px 25px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.leftbut:hover {
    cursor: pointer;
    background-color: #F1CDB3;
}
.rightbut {
    background-image: url(../../assets/icons/arrow-r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F6F6F6;
    padding: 25px 25px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.rightbut:hover {
    cursor: pointer;
    background-color: #F1CDB3;
}
.midbut {
    padding: 17px 50px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.midbut:hover {
    cursor: pointer;
    background-color: #F1CDB3;
}
.ourpets__low {
	text-align: center;
}
.ourpets__main div:hover {
	cursor: pointer;
}
.ourpets__main div:hover .midbut{
    background-color: #F1CDB3;
}
.helpus {
	background-color: #FFFFFF;
	color: #545454;
}
.helpus h3 {
	margin: auto;
	font-family: georgia, 'Times New Roman', Times, serif;
	text-align: center;
}
.helpus figcaption {
	font-family: georgia, 'Times New Roman', Times, serif;
	padding-top: 28px;
}
.helpus__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: baseline;
}
.helpus__box figure {
	flex-grow: 1;
}
.helpus__box img {
	display: block;
	margin: auto;
}

.donations {
	background-color: #F6F6F6;
}
.donations h3, h5 {
	color: #545454;
	font-family: georgia, 'Times New Roman', Times, serif;
}
.donations__payment h4 {
	font-family: georgia, 'Times New Roman', Times, serif;
	color: #545454;
}
.donations__payment h3 {
	margin: 0;
}
.donations p {
	color: #B2B2B2;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
.footer__back h3 {
	margin: 0;
	color: #FFFFFF;
	font-family: georgia, 'Times New Roman', Times, serif;
}
.footer__back p {
	color: #F1CDB3;
	font-family: georgia, 'Times New Roman', Times, serif;
}
.footer__back a {
	text-decoration: none;
	color: #F1CDB3;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 41, 41, 0.6);
	top: 0;
	left: 0;
}
.modal ul {
	list-style: none;
}
.modal li::before {
	content: "\2022";
	color: #F1CDB3;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.modal__vis {
	visibility: hidden;
}
.modal__body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.modal__content {
	background-color: #FAFAFA;
	position: relative;
}
.modal__content h3, h4, p {
	font-family: georgia, 'Times New Roman', Times, serif;
	color: #000000;
}
.modal__content h3 {
	font-size: 3.5rem;
}
.modal__content h4 {
	font-size: 2rem;
}
.modal__content p {
	font-size: 1.5rem;
}
.modal__content ul {
	padding-left: 10px;
}
.modal__content li {
	font-size: 1.5rem;
}
.modal__content img {
	float: left;
}
.modal__close {
	background-image: url(../../assets/icons/vector.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.01);
    background-position: center;
    padding: 25px 25px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    position: absolute;
    right: -55px;
    top: -55px;
}
.modal__close:hover {
	cursor: pointer;
}