/* import start-screen font, non original! */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: #0e0e0e;
    background-image: url("../../assets/images/start-screen-gradient-background.png");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 1280px;
    margin: auto;
}

header {
    width: 1200px;
    margin: auto;
}

/* LOGO */
.logo {
    float: left;
    padding-top: 28px;
}
h1 {
    color: #F1CDB3;
    font-family: 'Baskervville', sans-serif;
    font-style: normal;
    font-size: 3.2rem;
    margin-bottom: 5px;
    letter-spacing: 0.1rem;
}
.logo p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 0;
    color: white;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}

/* navigation block */
.navigation ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    float: right;
    padding-top: 56px;
}
.navigation li {
    display: inline-block;
    margin-left: 31px;
}
.navigation a{
    color: #CDCDCD;
    text-decoration: none;
    padding-bottom: 4px;
}
.navigation .active, a:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
  }

/* topscreen article and start image */
.topscr {
    max-width: 1200px;
    margin: auto;
    clear: both;
    padding-top: 41px;
}
/*article*/
.topscr article {
    padding-top: 132px;
    float: left;
}
.topscr h2 {
    max-width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.85rem;
    color: white;
    line-height: 160%;
}
.topscr p {
    max-width: 460px;
    color: #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
}
/*start image*/
.topscr img {
    float: right;
}

.btton1{
    margin-top: 57px;
}
.btton {
    padding: 16px 46px;
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 1.7em;
  }

/*About shelter 2nd block*/
.about {
    max-width: 1280px;
    clear: both;
    background-color: white;
    margin: auto;
}
.about div {
    max-width: 1200px;
    margin: auto;
    padding: 80px;
}
.about article {
    float: right;
    padding-right: 135px;
}
.about h3 {
    margin-top: 15px;
    padding-top: 0;
    font-size: 3.5rem;
    max-width: 370px;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about p {
    padding-bottom: 10px;
    max-width: 430px;
    color: #4C4C4C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
}
.about img {
    padding-left: 135px;
    max-width: 100%;
}

/*pets carousel*/
.ourpets {
    margin: auto;
    max-width: 1280px;
    clear: both;
    background-color: #F6F6F6;
    height: 87rem;
}
.ourpets h3 {
    margin: auto;
    padding: 80px;
    text-align: center;
    max-width: 400px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.4rem;
    color: #545454;
    letter-spacing: 0.05em;
}
.carousel {
    max-width: 1200px;
    margin: auto;
}
.carousel div {
    display: inline-block;
    vertical-align: middle;
}
.carousel p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    color: #545454;
    letter-spacing: 0.05em;
    padding: 7px;
}
.slide {
    margin: 0 45px;
    background-color: white;
}
.leftbut {
    background-image: url(../../assets/icons/arrow-l.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F6F6F6;
    padding: 25px 25px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.rightbut {
    background-image: url(../../assets/icons/arrow-r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F6F6F6;
    padding: 25px 25px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.midbut {
    padding: 17px 50px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #F1CDB3;
    display: block;
    margin: auto;
}
.but {
    text-align: center;
    margin-top: 120px;
}

/*Help us block*/
.help {    
    max-width: 1280px;
    clear: both;
    background-color: white;
    padding-bottom: 80px;
}
.help h3 {
    margin: auto;
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    max-width: 308px;
    color: #545454;
}
.help div {    
    text-align: center;
}
.help figure {
    display: inline-block;
    max-width: 100%;
}
.help figcaption {
    text-align: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #545454;
    padding: 28px;
}

/* donations */
.donations {
    margin: auto;
    max-width: 1280px;
    clear: both;
    background-color: #F6F6F6;
    padding: 50px 180px 90px 180px;
}
.dodo {
    display: inline-block;
}
.sidetxt {
    display: inline-block;
    padding-left: 30px;
}
.sidetxt h3 {
    max-width: 300px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.3rem;
    color: #545454;
}
.bankname {
    font-size: 1.6rem;
    max-width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
}
.bank {
    padding: 10px 10px;
    background: #F1CDB3;
    border-radius: 10px;
    max-width: 330px;
}
.card {
    vertical-align: middle;
    max-width: 30px;
}
.bank a {
    padding-left: 10px;
    text-decoration: none;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    letter-spacing: 0.05em;
}
.legal {
    max-width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #B2B2B2;
    font-size: 1.2rem;
    line-height: 160%;
}

/* footer */
footer {
    max-width: 1280px;
    margin: auto;
    background-image: url("../../assets/images/footer-gradient-background.png");
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footpad {
    display: inline-block;
    padding: 38px 40px 0 40px;
    max-width: 70%;
    margin-bottom: 17px;
}
.footpad div {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    padding-right: 130px;
}
.footpad img {
    vertical-align: middle;
    float: left;
    padding-right: 18px;
}
.ost {
    float: left;
}
footer h3 {
    margin: 0;
    padding: 30px 0;
    color: #FFFFFF;
    font-size: 3.3rem;
    letter-spacing: 0.05em;
    max-width: 300px;
}
footer p {
    padding: 20px 0;
    margin: 0;
    color: #F1CDB3;
    font-size: 2.1rem;
    letter-spacing: 0.05em;
}
.footmg {
    display: inline-block;
    max-width: 30%;
    vertical-align: bottom;
}