/* import start-screen font, non original! */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    max-width: 1280px;
    margin: auto;
    background-color: white;
}

header {
    max-width: 1200px;
    margin: auto;
    clear: both;
}
.logo {
    float: left;
    margin-top: 28px;
    background-color: white;
}
.logo a {
    text-decoration: none;
    color: #545454;
}
.logo h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.9rem;
}
.logo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}
.navigation ul {
    margin: 0;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-top: 50px;
}
.navigation li {
    display: inline-block;
    margin-left: 35px;
}
.navigation a {
    text-decoration: none;
    color: #545454;
    padding-bottom: 4px;
}
.navigation .active, a:hover {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
}
/* -----------------------PETS----------------------- */
article {
    clear: both;
    background-color: #F6F6F6;
}
article h3 {
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 400px;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
}
article section {
    text-align: center;
}
article div {
    display: inline-block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    font-size: 2.1rem;
    margin: 0 15px 30px 15px;;
    letter-spacing: 0.05rem;
    background-color: #FAFAFA;
}
.midbut {
    padding: 17px 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    display: block;
    margin: auto;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.nav {
    display: block;
    background-color: #F6F6F6;
    padding: 25px 0 85px 0;
    margin: 0;
}
.firstbut {
    background-image: url(../../assets/icons/arr-first.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #CDCDCD;
    padding: 24px 24px;
    border-radius: 50%;
    margin: 8px;
    background-color: #F6F6F6;
}
.secondbut {
    background-image: url(../../assets/icons/arr-second.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #CDCDCD;
    padding: 24px 24px;
    border-radius: 50%;
    margin: 8px;
    background-color: #F6F6F6;
}
.zerobut {
    background-image: url(../../assets/icons/arr-zero.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #F1CDB3;
    padding: 24px 24px;
    border-radius: 50%;
    margin: 8px;
    background-color: #F1CDB3;
}
.thirdbut {
    background-image: url(../../assets/icons/arr-third.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #F1CDB3;
    padding: 24px 24px;
    border-radius: 50%;
    margin: 8px;
    background-color: #F6F6F6;
}
.fourthbut {
    background-image: url(../../assets/icons/arr-fourth.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #F1CDB3;
    padding: 24px 24px;
    border-radius: 50%;
    margin: 8px;
    background-color: #F6F6F6;
}

/* ------------------------FOOTER------------------------ */
footer {
    max-width: 1280px;
    margin: auto;
    background-image: url("../../assets/images/footer-gradient-background.png");
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footpad {
    display: inline-block;
    padding: 38px 40px 0 40px;
    max-width: 70%;
    margin-bottom: 17px;
}
.footpad div {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    padding-right: 130px;
}
.footpad img {
    vertical-align: middle;
    float: left;
    padding-right: 18px;
}
.ost {
    float: left;
}
footer h3 {
    margin: 0;
    padding: 30px 0;
    color: #FFFFFF;
    font-size: 3.3rem;
    letter-spacing: 0.05em;
    max-width: 300px;
}
footer p {
    padding: 20px 0;
    margin: 0;
    color: #F1CDB3;
    font-size: 2.1rem;
    letter-spacing: 0.05em;
}
.footmg {
    display: inline-block;
    max-width: 30%;
    vertical-align: bottom;
}